* {
    font-family: Arial, Helvetica, sans-serif;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.item-price {
    color: blue;
    font-weight: bold;
}

#main {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1ga48x8*_ga*ODAxMzY3NjMxOS4xNjg2NjA5NjI1*_ga_3LRZM6TM9L*MTY4NzA0OTc4MS41LjEuMTY4NzA1MDkxNy41Ni4wLjA.);
}

#section-1 {
    background-color: mediumspringgreen;
}

#section-2 {
    background-color: lightcoral;
}

#section-3 {
    background-color: skyblue;
}